.profile-overview-container {
  max-width: 500px;
  margin: 0 auto;

  .profiles-container {
    padding: 1rem;
    margin: 2rem auto;
    text-align: center;
    border: 2px solid white;
    box-shadow: $box-shadow;
  }
}

.profiles-banner {
  margin: 0em;
}

.profiles-card {
  color: white;
}
