.profiles-container {
  max-width: 500px;
  padding: 0em;
  margin: 2rem auto;
  text-align: center;
  border: 2px solid white;
  box-shadow: $box-shadow;
}

.profiles-banner {
  margin: 0em;
}

.profiles-card {
  color: white;
}
