.post-overview-container,
.newpost-container {
  max-width: 500px;
}

.posts-container,
.newpost-container {
  padding: 1rem;
  margin: 2rem auto;
  text-align: center;
  border: $border;
  box-shadow: $box-shadow;
}

.post-count {
  font-size: 30px;
  padding-left: 5px;
}

.image-post {
  height: auto;
  width: 20em;
  word-break: break-all;
}
