.post-container {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.comment-container {
  margin-top: 1rem;

  span {
    padding: 10px;
    display: block;
  }
}

.nav-tabs {
  .nav-link,
  .nav-link.active {
    color: white;
    border-radius: 0;
  }

  .nav-link:hover {
    border: 1px solid red;
  }
}
