*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: $font-primary;
  color: $color-font;
}

body {
  background: $colour-primary-gradient;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
  color: $color-primary;
}

h1 {
  font-family: $font-slogan;
  font-size: 100px;
  text-shadow: $text-shadow;
}

h2 {
  font-size: 40px;
  word-break: break-all;
}

p {
  word-break: break-all;
}

a {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
}

.user-avatar {
  width: 100px;
  height: 100px;
}

.banner {
  width: 300px;
  object-fit: contain;
}

.cta,
.cta-follow,
.cta2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background: none;
  color: $color-primary;
  font-size: 18px;
  margin-top: 20px;
  padding: 10px;
}

.cta:hover,
.cta-follow:hover,
.cta2:hover,
.activity-cta:hover {
  font-weight: 700;
}

.cta,
.cta-follow {
  border: 3px solid white;
}

.cta2 {
  border: 3px solid $color-cta2;
}

.activity-cta {
  display: flex;
  gap: 10px;
}

.required {
  color: $colour-secondary;
  margin-left: 5px;
}
