form {
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
}

label {
  margin-bottom: 5px;
  display: block;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  border: none;
  color: $color-input;
}

.form-error {
  color: $clr-error;
}

.form-container {
  border: $border;
  box-shadow: $box-shadow;
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 100px;
}

.login-links {
  text-decoration: underline;
  font-size: 15px;
}

.register,
.login {
  margin-top: 10px;
  text-align: center;
}

.comment-form {
  margin-top: 0;
}
