.icon-comment,
.icon-heart,
.icon-settings,
.icon-camera {
  width: 40px;
}

.icon:hover,
.Link:hover,
.NavLink:hover,
a:hover {
  color: $cta-hover;
}

.icon-heart {
  margin-left: 50px;
}

.emojis {
  background: none;
  border: none;
}

.comment {
  border-bottom: $border;
}
