@import url("https://fonts.googleapis.com/css2?family=Anton&family=Exo+2:wght@600&family=Press+Start+2P&family=Roboto&family=Rubik+80s+Fade&family=Zen+Dots&display=swap");
$clr-links: #f0f0ff;
$color-font: #fff;
$cta-hover: #b685ff;
$clr-icon: #f0f0fe;
$link-active: #c2c2ff;
$color-primary: #fff;
$color-input: #23095f;

$clr-error: #ed1c24;
$color-cta2: #874af6;

$box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
$text-shadow: 2px 2px 4px #000000;
$border: 2px solid white;

$colour-primary: #0005a3;
$colour-secondary: #fd7289;

$colour-primary-gradient: linear-gradient(
  150deg,
  $colour-primary 20%,
  $colour-secondary 85%
);

$font-slogan: "Zen Dots", cursive;
$font-primary: "Anton", sans-serif;
